@import url(common.css);
@import url(header.css);
@import url(promo.css);
@import url(pricing.css);
@import url(footer.css);

.features__cards {
    text-align: center;
}

.features__cards+.features__cards {
    margin-top: 30px;
}

.features__cards-title {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 10px;
}

.features__cards-description {
    font-size: 1rem;
    line-height: 1.2;
}

@media (min-width: 550px) {
    .features__cards {
        text-align: left;
    }

    .features__cards+.features__cards {
        margin-top: 50px;
    }

    .features__cards-title {
        margin-bottom: 5px;
    }

    .features__cards-description {}
}

.how-it-works {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    /* filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));!!!! Для тени спросить!*/
}